#productPage{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #121212d9, #121212d9),
      url("../../assets/banner06.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#productPage h1{
    background: -webkit-linear-gradient(0deg, #008000, #f1975b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 700;
    line-height: 3.8rem;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}